.faq {
    margin-bottom: 100px;
    &__title {
        color: #fff;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        gap: 98px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    details[open] summary ~ * {
        outline: none;
        animation: sweep 0.4s ease-in-out;
    }
    @keyframes sweep {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__content {
        width: 100vw;
        border-top: 1px solid #fff;
        @media (max-width: 767.98px) {
            width: 90vw;
        }
        @media (max-width: 575.98px) {
            width: 90vw;
        }
    }
    details {
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    };
    &__question {
        font-family: "MPLUS1p-Regular";
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        cursor: pointer;
    }
    &__answer {
        font-family: "MPLUS1p-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }

    @media (max-width: 767.98px) {
        margin-bottom: 80px;
    }
}
