@import "./carousel";
@import "./faq";
@import "./news";
@import "./subscribe";

.main {
    margin-top: 114px;
    @media (max-width: 767.98px) {
        margin-top: 98px;
    }
    @media (max-width: 575.98px) {
        margin-top: 0;
    }
}
