.news {
    margin-bottom: 109px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 20px;
        @media (max-width: 1279.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       
        @media (max-width: 767.98px) {
            align-items: center;
            
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    &__image {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 10px;
        font-family: "MPLUS1p-Medium";
        font-weight: 500;
        font-style: 16px;
        line-height: 24px;
    }
    &__descr {
        font-family: "MPLUS1p-Medium";
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        max-width: 70%;
    }

    @media (max-width: 767.98px) {
        margin-bottom: 80px;
    }
}
