.burger-menu {
    margin-left: auto;
    display: inline-block;
    cursor: pointer;
    background: #0b0a0d;
    position: fixed;
    &__button {
        position: fixed;
        top: 36px;
        right: 15px;
        display: none;
        z-index: 30;
        .bar1,
        .bar2,
        .bar3 {
            width: 36px;
            height: 3px;
            background-color: #fff;
            margin: 7.5px 0;
            transition: 0.4s;
        }
        .bar3 {
            width: 18px;
        }
    }

    &__nav {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20;
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        padding: 120px 56px 60px 50px;
        height: 100%;
        width: 78vw;
        background-color: #0b0a0d;
        -webkit-transition: 0.8s;
        transition: 0.8s;
    }

    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    &_active &__overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &_active &__nav {
        right: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    &_active .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8.5px, 5px);
        transform: rotate(-45deg) translate(-8.5px, 5px);
    }
    &_active .bar2 {
        opacity: 0;
    }
    &_active .bar3 {
        width: 36px;
        -webkit-transform: rotate(45deg) translate(-9px, -8px);
        transform: rotate(45deg) translate(-9px, -8px);
    }
    .dropdown-menu__list {
        display: none;
        &_active {
            margin-top: 30px;
            margin-left: 64px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media (max-width: 575.98px) {
    .burger-menu {
        &__button {
            display: block;
        }
    }
}
