.dropdown-menu {
    padding: 30px 0 50px 32px;
    width: 100vw;
    max-height: 70vh;
    background-color: #0b0a0d;

    position: fixed;
    top: -100%;

    transition: 0.6s all;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 142px;
        z-index: 20;
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        font-size: 14px;
        line-height: 21px;
        &:hover {
            color: #75ff72;
        }
    }

    &_active {
        top: 140px;
    }

    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    &_active &__overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 575.98px) {
    .dropdown-menu {
        &__link {
            font-style: 14px;
        }
    }
}
