@import "./nav";
@import "./burger";
@import "./dropdown";

.header {
    background: #0B0A0D;
    overflow: hidden;
    position: fixed;
    // z-index: 20;
    top: 0;
    width: 100%;
    padding: 90px 0;
    //background-color: #0B0A0D;
    &__logo {
        z-index: 20;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (max-width: 575.98px) {
    .header {
        padding-top: 35px;
        &__logo {
            z-index: 0;
        }
    }
}
