@import "./nav";
@import "./burger";
@import "./dropdown";

.header {
    background: #0b0a0d;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 90px;
    &__logo {
        z-index: 20;
        cursor: pointer;
    }
    z-index: 101;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (max-width: 575.98px) {
    .header {
        padding-top: 35px;
        &__logo {
            z-index: 0;
        }
    }
}
