.header {
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        z-index: 20;

        @media (max-width: 575.98px) {
            display: none;
        }
    }

    &__link {
        position: relative;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        &:hover {
            color: #75ff72;
        }
        &::before {
            content: "";
            position: absolute;
            top: 40px;
            display: block;
            height: 3px;
            width: 0%;
            background-color: #fff;
            transition: width 0.4s ease-out;
            -webkit-transition: width 0.4s ease-out;
        }
        &_active {
            &::before {
                content: "";
                position: absolute;
                top: 40px;
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
            }
        }
    }
}
