@import "mixins";
@import "fonts";
@import "reset";
@import "variables";
@import "links";

@import "slick/slick";
@import "slick/slick-theme";

@import "./blocks/header/header";
@import "./blocks/main/main";
@import "./blocks/footer";

body {
    background: #0b0a0d;
    color: #fff;
    overflow-x: hidden;
}

.container {
    max-width: 86vw;
    padding: 0 5px;
    margin: 0 auto;
    @media (max-width: 1199.98px) {
        max-width: 80vw;
    }
    @media (max-width: 767.98px) {
        max-width: 90vw;
    }
}
